.imageContainer{
    display: flex;
    justify-content: start;
    position: relative;
	transition: transform 0.2s;
}
.imageContainer:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.overlay{
    display: flex;
    justify-content: center;
    position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
    opacity: 0;
	padding: 20px;
}
    